<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Juice Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/form.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    <script src="https://cdn.tiny.cloud/1/e95cnzodq6qskb9j0ee5wjvbo0vjw6sfxz7s9ncewyvmlmw7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
    <header class="sec1">
      <div class="d2">    
        <span id="title">Juice Shop</span>    
        <div class="headtag">Name: Chilsi Hasan &nbsp;Mail: ckollamkulangar5376@conestogac.on.ca </div>
      </div> 
    </header>