<%- include('layouts/header'); -%>

    <%- include('layouts/nav'); -%>
  <section class="w50">
    <div class="formData">
      <p > <%= message %></p>
    </div>
</section>

<%- include('layouts/footer'); -%>